.main-wrapper
{ 
    flex-wrap: wrap;
    background: white;
    display: flex;
}

.card-extra
{
    border-color: #fa4a34;
    border-radius: 45px;
    margin: 10px 10px 10px 10px;
}

.ItemButton
{
    position: relative;
    width: 150px;
    align-self: center;
    border-radius: 30px;
    font-size: larger;
    margin-bottom: 10px;
}

.align-self-center:only-child(h5,h4)
{
    align-self: center;
}

.text-align-center
{
    justify-content: center;
}