@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1><a asp-controller="Knife" asp-action="Items">GO ADMIN!</a></h1>
    <h1><a asp-controller="Knife" asp-action="KnifeStoreItems">GO USER!</a></h1>
</div>
